body {
	font-family: 'Segoe UI';
	margin:0px;
}

.hero {
	background-image: linear-gradient(0deg, rgba(255, 67, 87, 0.5) 0%, rgba(255, 67, 87, 0.5) 25%,rgba(208, 47, 91, 0.5) 25%, rgba(208, 47, 91, 0.5) 50%,rgba(162, 28, 94, 0.5) 50%, rgba(162, 28, 94, 0.5) 75%,rgba(115, 8, 98, 0.5) 75%, rgba(115, 8, 98, 0.5) 100%),linear-gradient(90deg, rgb(79,108,212) 0%, rgb(79,108,212) 20%,rgb(105, 97, 222) 20%, rgb(105, 97, 222) 40%,rgb(130, 91, 232) 40%, rgb(130, 91, 232) 60%,rgb(156, 86, 241) 60%, rgb(156, 86, 241) 80%,rgb(181, 80, 251) 80%, rgb(181, 80, 251) 100%);
	color: rgb(255, 255, 255);

	height: 400px;

	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
}

.page-content {
	display:flex;
	align-items: center;
    justify-content: center;

	margin: 40px 0px 40px 0px;
}

p {
	width: 300px;

	margin: 0px 20px 0px 20px;
}